<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @guestbook_message.name %>
</p>

<p>
  <strong>Message:</strong>
  <%= @guestbook_message.message %>
</p>

<%= link_to 'Edit', edit_guestbook_message_path(@guestbook_message) %> |
<%= link_to 'Back', guestbook_messages_path %>
